# ==========================================
# SM Ferdous Ahmmed Portfolio Environment Configuration
# ==========================================

# MongoDB Atlas Connection URI
MONGODB_URI="mongodb+srv://asifsarkar411_db_user:dTGMIdsvC88YBskz@cluster0.tcyt4cp.mongodb.net/portfolio?"

# NextAuth.js Configuration
# Generate a secret using: openssl rand -base64 32
NEXTAUTH_SECRET="eP3ZKT3Oeqi8mB80yYyamA5V1KuSmDpMhgiLyXcMyAk="

NEXTAUTH_URL="http://localhost:3000"

# Default Admin Credentials for /admin Dashboard
ADMIN_EMAIL="asifsarkar411@gmail.com"
ADMIN_PASSWORD="Admin@123456"
